-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'USER');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "passwordHash" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MachineRate" (
    "id" TEXT NOT NULL,
    "machineKey" TEXT NOT NULL,
    "hourlyRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedById" TEXT,

    CONSTRAINT "MachineRate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ManualEntry" (
    "id" TEXT NOT NULL,
    "machineKey" TEXT NOT NULL,
    "date" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "comment" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdById" TEXT,

    CONSTRAINT "ManualEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TicketFixCost" (
    "id" TEXT NOT NULL,
    "issueKey" TEXT NOT NULL,
    "machineKey" TEXT NOT NULL,
    "date" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "comment" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedById" TEXT,

    CONSTRAINT "TicketFixCost_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "MachineRate_machineKey_key" ON "MachineRate"("machineKey");

-- CreateIndex
CREATE INDEX "ManualEntry_machineKey_idx" ON "ManualEntry"("machineKey");

-- CreateIndex
CREATE INDEX "ManualEntry_date_idx" ON "ManualEntry"("date");

-- CreateIndex
CREATE UNIQUE INDEX "TicketFixCost_issueKey_key" ON "TicketFixCost"("issueKey");

-- CreateIndex
CREATE INDEX "TicketFixCost_machineKey_idx" ON "TicketFixCost"("machineKey");

-- CreateIndex
CREATE INDEX "TicketFixCost_date_idx" ON "TicketFixCost"("date");

-- AddForeignKey
ALTER TABLE "MachineRate" ADD CONSTRAINT "MachineRate_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ManualEntry" ADD CONSTRAINT "ManualEntry_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TicketFixCost" ADD CONSTRAINT "TicketFixCost_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

