.tickets-grid {
  padding: 0px 1px;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 16px;
  margin: 2rem 0;
}

.tickets-grid__empty {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 32px;
}
